<header>
  <div class="container">
    <a [routerLink]="['/']" class="logo-link">Food Mine!</a>
    <nav>
      <ul class="nav-links">
        <!-- Links for guests -->
        <li *ngIf="!(isLoggedIn$ | async)">
          <a [routerLink]="['/login']" class="login-link">Login</a>
          <a [routerLink]="['/signup']" class="signup-link">Sign Up</a>
        </li>
        <!-- Links for logged-in users -->
        <li class="menu-container" *ngIf="isLoggedIn$ | async">
          <a [routerLink]="['/dashboard']" class="menu-toggle">{{
            userName$ | async
          }}</a>
          <div class="menu">
            <a [routerLink]="['/profile']">Profile</a>
            <a [routerLink]="['/orders']">Orders</a>
            <a [routerLink]="['/logout']" class="logout-link">Logout</a>
          </div>
        </li>

        <!-- Cart link always visible -->
        <li>
          <a [routerLink]="['/cart']" class="cart-link">Cart</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
