<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="credentials.username"
        required
        #username="ngModel"
      />
      @if (username.invalid && (username.dirty || username.touched)) {
      <div class="error-message">
        @if (username.errors?.['required']) {
        <div>Username is required.</div>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="credentials.password"
        required
        #password="ngModel"
      />
      @if (password.invalid && (password.dirty || password.touched)) {
      <div class="error-message">
        @if (password.errors?.['required']) {
        <div>Password is required.</div>
        }
      </div>
      }
    </div>

    @if (errorMessage) {
    <div class="error-message">{{ errorMessage }}</div>
    }

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
